body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.headerone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.myblog h1 {
  margin: 0;
}

#headerbutton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.carrier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.subcarrier, .featured-article {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.subcarrier img, .featured-article img {
  width: 100%;
  /* height: auto; */
  border-radius: 5px;
}

.readme button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.featured-article {
  max-width: 100%;
  margin: 20px auto;
}

.featured-article h2 {
  font-size: 28px;
  margin-bottom: 10px;
}


.featured-article p {
  margin-bottom: 10px;
}
